{% extends 'main.html' %}


{% load static %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns:
    }
</style>

<div> 
    <div class='home-container'>
        
        
        {%for weapon in weapons %}
        <div>
            <h1>{{weapon.id}} -- <a href="/rifles/{{weapon_name}}/{{weapon.id}}">{{weapon.skin_name}}</a> -- {{weapon.price|floatformat:2}}$ 
                
                {%if request.user == weapon.seller %}
                <a href="{% url 'update-item' weapon.id %}"> Edit Ad</a>
                <a href="{% url 'delete-item' weapon.id %}"> Delete Ad</a>
                {% endif %}
                
            </h1>
        </div>
       
        {% endfor %}
    </div>    
</div>



{% endblock content %}