{% extends 'main.html' %}


{% load static %}

{% block content %}

<div> 
    <div class='home-container'>
        
        
        {%for weapon in weapons %}
        <div>
            <h1><a href="/{{weapon.weapon_type}}/{{weapon.skin_name}}/{{weapon.id}}">{{weapon.skin_name}}</a> -- {{weapon.price|floatformat:2}}$ -- Posted {{weapon.created|timesince}} ago
                
                {%if request.user == weapon.seller %}
                <a href="{% url 'update-item' weapon.id %}"> Edit Ad</a>
                <a href="{% url 'delete-item' weapon.id %}"> Delete Ad</a>
                {% endif %}
                
            </h1>
        </div>
       
        {% endfor %}
    </div>    
</div>



{% endblock content %}