{% extends 'main.html' %}


{% load static %}

{% block content %}

<div class  = "container" >   
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/heavy/mag7.jpeg' %}">
        </a>
        <h1>MAG-7</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/heavy/negev.jpeg' %}">
        </a>
        <h1>Negev</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/heavy/nova.jpeg' %}">
        </a>
        <h1>Nova</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/heavy/sawed.jpeg' %}">
        </a>
        <h1>Sawed-Off</h1>
    </div>
</div>

{% endblock content %}