{% extends 'main.html' %}


{% load static %}

{% block content %}

<div class  = "container" >   
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/knives/butterfly.jpeg' %}">
        </a>
        <h1>Butterfly</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/knives/karambit.jpeg' %}">
        </a>
        <h1>Karambit</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/knives/m9bayonet.jpeg' %}">
        </a>
        <h1>M9-Bayonet</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/knives/skeleton.jpeg' %}">
        </a>
        <h1>Skeleton</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/knives/bayonet.jpeg' %}">
        </a>
        <h1>Bayonet</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/knives/flip.jpeg' %}">
        </a>
        <h1>Flip</h1>
    </div>
</div>

{% endblock content %}
