{% load static %}

<div class = "header-container">    

    <div class = "logo-image-container">
        <a href='/'>      
            <img class = "logo-image" src="{% static 'images/csgo.jpg' %}">
        </a> 
    </div>

    <div class = "header-text-container">
        <div class = "upper-part">
            <h1 class = "header-text"> Welcome to our site!</h1>
            
            {% if request.user.is_authenticated %}
            <a href= "{% url 'logout' %}" >Logout</a>
            
            {% else %}

            <a href= "{% url 'login' %}" >Login</a>

            {% endif %}

            <div class = "search-bar">
                <form class = "search-bar-form" method="GET" action ="{% url 'home' %}">
                    <input class = "search-bar-size" type ="text" name="q" placeholder="Search Item..." />
                </form>
            </div>

        </div>
        <div class = "lower-part">
            <button onclick="location.href = '/rifles';" class = "skin-category" type="button">Rifles</button>
            <button onclick="location.href = '/knives';" class = "skin-category" type="button">Knives</button>
            <button onclick="location.href = '/pistols';" class = "skin-category" type="button">Pistols</button>
            <button onclick="location.href = '/smg';" class = "skin-category" type="button">SMG</button>
            <button onclick="location.href = '/cases';" class = "skin-category" type="button">Cases</button>
            <button onclick="location.href = '/stickers';" class = "skin-category" type="button">Stickers</button>
            <button onclick="location.href = '/heavy';" class = "skin-category" type="button">Heavy</button>
            <button onclick="location.href = '/gloves';" class = "skin-category" type="button">Gloves</button>
            <button onclick="location.href = '/sell-item';" class = "skin-category" type="button">Sell</button>
            
        </div>
    </div>  

</div>

<hr>

