{% extends 'main.html' %}


{% load static %}

{% block content %}

<div class  = "container" >   
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/rifles/ak47.jpeg' %}">
        </a>
        <h1>AK-47</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/rifles/awp.jpeg' %}">
        </a>
        <h1>AWP</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/rifles/m4a4.jpeg' %}">
        </a>
        <h1>M4A4</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/rifles/m4a1-s.jpeg' %}">
        </a>
        <h1>M4A1-S</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/rifles/aug.jpeg' %}">
        </a>
        <h1>AUG</h1>
    </div>
    <div class = "content">
        <a href='/'>      
            <img class = "weapon-image" src="{% static 'images/rifles/galil.jpeg' %}">
        </a>
        <h1>Galil</h1>
    </div>
</div>

{% endblock content %}