{% extends 'main.html' %}


{% load static %}


{% block content %}

<div class  = "container" >
    {% for weapon in weapons %} 
     {% comment %} <img src ="{% static 'myapp/' %}{{user.firstname}}{{user.last_name}}.jpg" alt="Profile Picture"> {% endcomment %}
    
    
    <div class = "content">
        <a href="{{weapon}}/">      
            <img class = "weapon-image" src="{% static 'images/' %}{{type}}/{{weapon}}.jpeg ">
            <h1 id="weapon-name"> {{weapon}} <h1>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock content %}
