.logo-image {
    border-radius: 100px ;
    display: block;
    max-height: 150px;
    width: auto;
    height: auto;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 8fr;

}

.header-text {
    display: inline-block;
}

.upper-part {
    padding-left: 35%;
    vertical-align: middle;
    padding-top: 15px;
}

.logo-image-container {
    text-align: center;
    align-items: center;
}

.lower-part{
    color: white;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding-left: 0%;
    padding-right: 0%;
}


a {
    display: inline-block;
    text-align: left;
    align-items: center;
}

button:hover{
    cursor: pointer !important; 
}

.skin-category {
    font-size: 20px;
}

@media (max-width: 850px) {
    .lower-part{
        color: white;
        display: grid;
        grid-template-columns: 150px;
        grid-template-rows: repeat(9, 20px);
        padding-left: 28%;
        padding-right: 0%;
        align-items: center;
    }

    .skin-category {
        font-size: 15px;
    }

    .upper-part {
        padding-left: 30%;
    }

    .logo-image {
        max-height: 0px;
    }

}
